* {
  margin: 0;
}

.heading {
  /* background-color: antiquewhite; */
  font-size: 30px;
}
.currency {
  background-color: gray;
  color: white;
  margin-top: 10px;
  padding: 10px;
  font-size: 30px;

}